# first install these requirements with: pip i -r requirements.txt

fastapi==0.111.0
uvicorn==0.30.1
sqlalchemy==2.0.31
passlib[bcrypt]==1.7.4
pyjwt==2.8.0

# you should create a venv folder and try everything in there just in case:

# python -m venv venv

# and activate it with:

# .\venv\Scripts\Activate.ps1

# now go inside FastAPI and run this on the therminal: uvicorn main:app --reload , and there you go!